<fieldset>
    <h2>Store Information</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Shop Name <code>*</code></label>
                <input id="shop_name" ng-model="formData.shop_name" name="shop_name" type="text" class="form-control" ng-minlength="8" required>
                <p ng-show="signupForm.shop_name.$error.required" class="help-block text-danger">Shop Name is required</p>
                <p ng-show="signupForm.shop_name.$error.minlength" class="help-block text-danger">Shop Name is too short (min 8 characters)</p>
            </div>
            <div class="form-group">
                <label>Shop Email <code>*</code></label>
                <input id="shop_email" ng-model="formData.shop_email" name="shop_email" type="email" class="form-control" ng-minlength="8">
                <p ng-show="signupForm.shop_email.$error.required" class="help-block text-danger">Shop Email is required</p>
                <p ng-show="signupForm.shop_email.$error.email" class="help-block text-danger">Not a valid email address </p>
            </div>
            <div class="form-group">
                <label>Shop Mobile No. <code>*</code></label>
                <input id="shop_mobileno" ng-model="formData.shop_mobileno" name="shop_mobileno" type="text" class="form-control" required>
                <p ng-show="signupForm.shop_mobileno.$error.required" class="help-block text-danger">Shop Email is required</p>
            </div>
            <div class="form-group">
                <label>Shop Website</label>
                <input id="shop_website" ng-model="formData.shop_website" name="shop_website" type="text" class="form-control">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Owner First name <code>*</code></label>
                <input id="owner_fname" name="owner_fname" ng-model="formData.owner_fname" type="text" class="form-control" required>
                <p ng-show="signupForm.owner_fname.$error.required" class="help-block text-danger">First Name is required</p>
            </div>
            <div class="form-group">
                <label>Owner Middle name <code>*</code></label>
                <input id="owner_mname" name="owner_mname" ng-model="formData.owner_mname" type="text" class="form-control" required>
                <p ng-show="signupForm.owner_mname.$error.required" class="help-block text-danger">Middle Name is required</p>
            </div>
            <div class="form-group">
                <label>Owner Last name <code>*</code></label>
                <input id="owner_lname" name="owner_lname" ng-model="formData.owner_lname" type="text" class="form-control" required>
                <p ng-show="signupForm.owner_lname.$error.required" class="help-block text-danger">Last Name is required</p>
            </div>
            <div class="form-group">
                <label>Owner Email <code>*</code></label>
                <input id="owner_email" name="owner_email" ng-model="formData.owner_email" type="text" class="form-control" required>
                <p ng-show="signupForm.owner_email.$error.email" class="help-block text-danger">Not a valid email address </p>
                <p ng-show="signupForm.owner_email.$error.required" class="help-block text-danger">Email Address is required</p>
            </div>
        </div>
    </div>
    <a ng-click="stepTwo()" class="btn btn-primary">Next</a>
</fieldset>