<fieldset>
    <h2>Review Store Information</h2>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Shop Name <code>*</code></label>
                <label class="form-control text-success">{{formData.shop_name}} </label>
            </div>
            <div class="form-group">
                <label>Shop Email <code>*</code></label>
                <label class="form-control text-success">{{formData.shop_email}}</label>
            </div>
            <div class="form-group">
                <label>Shop Mobile No. <code>*</code></label>
                <label class="form-control text-success">{{formData.shop_mobileno}} </label>
            </div>
            <div class="form-group">
                <label>Shop Website <code>*</code></label>
                <label class="form-control text-success">{{formData.shop_website}} </label>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Owner First name <code>*</code></label>
                <label class="form-control text-success">{{formData.owner_fname}}</label>
            </div>
            <div class="form-group">
                <label>Owner Middle name <code>*</code></label>
                <label class="form-control text-success">{{formData.owner_mname}}</label>
            </div>
            <div class="form-group">
                <label>Owner Last name <code>*</code></label>
                <label class="form-control text-success">{{formData.owner_lname}}</label>
            </div>
            <div class="form-group">
                <label>Owner Email <code>*</code></label>
                <label class="form-control text-success">{{formData.owner_email}}</label>
            </div>
        </div>
    </div>
</fieldset>
<br><br><br>
<fieldset>
    <h2>Review Store Legal Information</h2>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Certificate of Registration No. <code>*</code></label>
                <label class="form-control text-success">{{formData.shop_cor_number}} </label>
            </div>
            <div class="form-group">
                <label>Certificate of Registration File. <code>*</code></label>
                <label class="form-control text-success"></label>
            </div>
            <div class="form-group">
                <label>Shop Distribution License <code>*</code></label>
                <label class="form-control text-success">{{formData.shop_distributor_license_number}} </label>
            </div>
            <div class="form-group">
                <label>Distribution License File<code>*</code></label>
                <label class="form-control text-success"></label>
            </div>
            <div class="form-group">
                <label>Store Official Logo <code>*</code></label>
            </div>
            <div class="form-group">
                <img alt="image" class="img-responsive" ngf-src="category.c_file || '../images/icon-no-image.svg'" ng-if="category.c_file" width="300px">
                <img alt="image" class="img-responsive" ng-src="{{category.img_path || '../images/icon-no-image.svg'}}" ng-if="!category.c_file && category.img_name !== null" width="300px">
            </div>
        </div>
        <div class="col-lg-6"></div>
    </div>
</fieldset>
<br><br><br>
<fieldset>
    <h2>Terms and Conditions</h2>
    <input id="acceptTerms" name="acceptTerms" type="checkbox" ng-model="formData.terms" class="required"> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
</fieldset>
<fieldset class="m-t-md">
    <a ng-click="stepTwo()" class="btn btn-default">Previous</a>
    <button type="submit" class="btn btn-primary">Submit</button>
</fieldset>