<fieldset>
    <h2>Store Legal Information</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Certificate of Registration No. <code>*</code></label>
                <input id="shop_cor_number" name="shop_cor_number" ng-model="formData.shop_cor_number" type="text" class="form-control" required>
                <p ng-show="signupForm.shop_cor_number.$error.required" class="help-block text-danger">C.O.R Number is required</p>
            </div>
            <div class="form-group">
                <label>Upload Certificate of Registration file <code>*</code></label>
                <div class="dropzone dz-clickable" dropzone="" id="dropzone">
                    <div class="dz-default dz-message"><span><strong>Drop files here or click to upload. </strong><br> (Upload Certificate of Registration file. pdf/doc/docx format)</span></div>
                </div>
            </div>
            <div class="form-group">
                <label>Shop Distribution License <code>*</code></label>
                <input id="shop_distributor_license_number" name="shop_distributor_license_number" ng-model="formData.shop_distributor_license_number" type="text" class="form-control" required>
                <p ng-show="signupForm.shop_distributor_license_number.$error.required" class="help-block text-danger">Distribution License is required</p>
            </div>
            <div class="form-group">
                <label>Upload Distribution License file <code>*</code></label>
                <div class="dropzone dz-clickable" dropzone="" id="dropzone">
                    <div class="dz-default dz-message"><span><strong>Drop files here or click to upload. </strong><br> (Upload Distribution License file. pdf/doc/docx format)</span></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Store Official Logo <code>*</code></label>
                <div class="input-group image-preview">
                    <span class="input-group-btn">
                            <button type="button" class="btn btn-warning image-preview-clear" ng-click="removethumb()" ng-show="details.c_image"> <span class="glyphicon glyphicon-remove"></span> Clear
                    </button>
                    <div class="btn btn-primary image-preview-input"> <span class="glyphicon glyphicon-folder-open"></span> <span class="image-preview-input-title">Browse</span>
                        <input type="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" name="file" ng-model="formData.shop_official_logo" ngf-max-size="5MB" ngf-select="upload($files)" ngf-model-invalid="errorFile">
                    </div>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <img alt="image" class="img-responsive" ngf-src="formData.shop_official_logo || '../images/icon-no-image.svg'" ng-if="formData.shop_official_logo" width="300px">
                <img alt="image" class="img-responsive" ng-src="{{formData.shop_official_logo || '../images/icon-no-image.svg'}}" ng-if="!formData.shop_official_logo && formData.shop_official_logo_filename !== null" width="300px">
            </div>
        </div>
    </div>
    <a ng-click="stepOne()" class="btn btn-default">Previous</a>
    <a ng-click="stepThree()" class="btn btn-primary">Next</a>
</fieldset>