<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
    <meta name="viewport" content="width=600,initial-scale = 2.3,user-scalable=no">
    <!--[if !mso]><!-- -->
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700' rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel="stylesheet">
    <!--<![endif]-->
    <title>ShoppyApp</title>
    <style type="text/css">
        body {
            width: 100%;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            mso-margin-top-alt: 0px;
            mso-margin-bottom-alt: 0px;
            mso-padding-alt: 0px 0px 0px 0px;
        }
        
        p,
        h1,
        h2,
        h3,
        h4 {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
        
        span.preheader {
            display: none;
            font-size: 1px;
        }
        
        html {
            width: 100%;
        }
        
        table {
            font-size: 14px;
            border: 0;
        }
        /* ----------- responsivity ----------- */
        
        @media only screen and (max-width: 640px) {
            /*------ top header ------ */
            .main-header {
                font-size: 20px !important;
            }
            .main-section-header {
                font-size: 28px !important;
            }
            .show {
                display: block !important;
            }
            .hide {
                display: none !important;
            }
            .align-center {
                text-align: center !important;
            }
            .no-bg {
                background: none !important;
            }
            /*----- main image -------*/
            .main-image img {
                width: 440px !important;
                height: auto !important;
            }
            /* ====== divider ====== */
            .divider img {
                width: 440px !important;
            }
            /*-------- container --------*/
            .container590 {
                width: 440px !important;
            }
            .container580 {
                width: 400px !important;
            }
            .main-button {
                width: 220px !important;
            }
            /*-------- secions ----------*/
            .section-img img {
                width: 320px !important;
                height: auto !important;
            }
            .team-img img {
                width: 100% !important;
                height: auto !important;
            }
        }
        
        @media only screen and (max-width: 479px) {
            /*------ top header ------ */
            .main-header {
                font-size: 18px !important;
            }
            .main-section-header {
                font-size: 26px !important;
            }
            /* ====== divider ====== */
            .divider img {
                width: 280px !important;
            }
            /*-------- container --------*/
            .container590 {
                width: 280px !important;
            }
            .container590 {
                width: 280px !important;
            }
            .container580 {
                width: 260px !important;
            }
            /*-------- secions ----------*/
            .section-img img {
                width: 280px !important;
                height: auto !important;
            }
        }
    </style>
    <!--[if gte mso 9]><style type=”text/css”>
        body {
        font-family: arial, sans-serif!important;
        }
        </style>
    <![endif]-->
</head>

<body class="respond" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <!-- pre-header -->
    <table style="display:none!important;">
        <tr>
            <td>
                <div style="overflow:hidden;display:none;font-size:1px;color:#ffffff;line-height:1px;font-family:Arial;maxheight:0px;max-width:0px;opacity:0;">
                    Welcome to ShoppyApp Seller Center
                </div>
            </td>
        </tr>
    </table>
    <!-- pre-header end -->
    <!-- header -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff">
        <tr>
            <td align="center">
                <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">
                    <tr>
                        <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">
                                <tr>
                                    <td align="center" height="70" style="height:70px;">
                                        <a href="" style="display: block; border-style: none !important; border: 0 !important;">
                                            <img width="100" border="0" style="display: block; width: 60px; height: 60px;" src="https://shoppy-123456789.herokuapp.com/views/images/shopping-bag.png" alt="" />
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- end header -->
    <!-- big image section -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="bg_color">
        <tr>
            <td align="center">
                <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">
                    <tr>
                        <td align="center" style="color: #343434; font-size: 24px; font-family: Quicksand, Calibri, sans-serif; font-weight:700;letter-spacing: 3px; line-height: 35px;" class="main-header">
                            <!-- section text ======-->
                            <div style="line-height: 35px">
                                Your Order from
                                <span style="color: #1ab394;">
                                    <%=orderNum %>
                                </span> has been
                                <span style="color: #f53d3d;">Delivered</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table border="0" width="40" align="center" cellpadding="0" cellspacing="0" bgcolor="eeeeee">
                                <tr>
                                    <td height="2" style="font-size: 2px; line-height: 2px;">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="left">
                            <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="m_6019170558616554913backgroundTable">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_6019170558616554913devicewidth">
                                                <tbody>
                                                    <tr>
                                                        <td width="100%">
                                                            <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_6019170558616554913devicewidth">
                                                                <tbody>
                                                                    <tr>
                                                                        <td height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <table width="560" align="center" cellpadding="0" cellspacing="0" border="0" class="m_6019170558616554913devicewidthinner">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#747474;text-align:left;line-height:18px">
                                                                                            <h4>Hello
                                                                                                <%= buyerName %>,</h4>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="100%" height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#747474;text-align:left;line-height:18px">
                                                                                            Thanks for shopping with us! We are glad to inform you that your order has been delivered. Have you received Order
                                                                                            <a href="#" style="text-decoration:none;color:#1ab394" target="_blank">#
                                                                                                <%= orderNum %>
                                                                                            </a>? If so, do confirm and accept this in ShoppyApp and we'll transfer
                                                                                            the payment to <b><%= sellerName %></b>. If we don't hear from you, payment will be transferred too.
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="100%" height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="100%" height="1" bgcolor="#ffffff" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="m_6019170558616554913backgroundTable">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="m_6019170558616554913devicewidth">
                                                <tbody>
                                                    <tr>
                                                        <td width="100%" height="1" bgcolor="#e0e0e0" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="m_6019170558616554913backgroundTable">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_6019170558616554913devicewidth">
                                                <tbody>
                                                    <tr>
                                                        <td width="100%">
                                                            <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_6019170558616554913devicewidth">
                                                                <tbody>
                                                                    <tr>
                                                                        <td height="0" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <table width="560" align="center" cellpadding="0" cellspacing="0" border="0" class="m_6019170558616554913devicewidthinner">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#889098;text-align:center;line-height:16px">
                                                                                            <table width="px" align="left">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td colspan="2" style="text-align:left;font-family:Helvetica,arial,sans-serif;color:#1f1f1f;font-size:16px;font-weight:bold;height:10px">
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td colspan="2" style="text-align:left;font-family:Helvetica,arial,sans-serif;color:#1f1f1f;font-size:13px;font-weight:bold">ORDER DETAILS </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="100%" height="" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="m_6019170558616554913backgroundTable">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_6019170558616554913devicewidth">
                                                <tbody>
                                                    <tr>
                                                        <td width="100%">
                                                            <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_6019170558616554913devicewidth">
                                                                <tbody>
                                                                    <tr>
                                                                        <td height="0" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <table width="560" align="center" cellpadding="0" cellspacing="0" border="0" class="m_6019170558616554913devicewidthinner">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#889098;text-align:center;line-height:16px;">
                                                                                            <table width="px" align="left">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td colspan="2" style="text-align:left;font-family:Helvetica,arial,sans-serif;color:#1f1f1f;font-size:16px;font-weight:bold;height:px">
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td style="text-align:left;font-family:Helvetica,arial,sans-serif;font-size: 13px;color:#747474;white-space:nowrap;vertical-align:top;">Order ID: </td>
                                                                                                        <td style="text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#747474;vertical-align:top">#
                                                                                                            <%= orderNum %>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td style="text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#747474;white-space:nowrap;vertical-align:top">Order Date: </td>
                                                                                                        <td style="text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#747474;white-space:nowrap;vertical-align:top">
                                                                                                            <%= orderDateTime %>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td style="text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#747474;white-space:nowrap;vertical-align:top">Buyer: </td>
                                                                                                        <td style="text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#747474;white-space:nowrap;vertical-align:top">
                                                                                                            <%= buyerName %>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td style="text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#747474;white-space:nowrap;vertical-align:top">Message to Seller:
                                                                                                        </td>
                                                                                                        <td style="text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#747474;vertical-align:top">
                                                                                                            <%= orderNote %>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="100%" height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <% for(var i=0; i < orderDetails.length; i++) { %>
                                <!-- 
                            =================================================================================================
                            =================================================================================================
                            =================================================================================================
                             -->
                                <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="m_6019170558616554913backgroundTable">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_6019170558616554913devicewidth">
                                                    <tbody>
                                                        <tr>
                                                            <td width="100%">
                                                                <table width="600" cellpadding="0" cellspacing="0" border="0" align="left" class="m_6019170558616554913devicewidth">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <table width="180" align="left" border="0" cellpadding="0" cellspacing="0" class="m_6019170558616554913devicewidth">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td width="180" height="140" align="left" class="m_6019170558616554913devicewidth" style="padding-left:20px">
                                                                                                <img src="<%= orderDetails[i].image.img_path %>" alt="" border="0" width="140" height="140" style="display:block;border:none;outline:none;text-decoration:none" class="m_6019170558616554913col2img CToWUd">
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" class="m_6019170558616554913mobilespacing">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td width="100%" height="15" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <table width="280" align="left" border="0" cellpadding="0" cellspacing="0" class="m_6019170558616554913devicewidth">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#747474;text-align:left;line-height:px;padding-left:10px">
                                                                                                                <%= i + 1 %>.
                                                                                                                    <%= orderDetails[i].detailName %>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td width="" height="15" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#747474;text-align:left;line-height:px">
                                                                                                                <table width="100%" align="left">
                                                                                                                    <tbody>
                                                                                                                        <% if(orderDetails[i].variantId !== null) { %>
                                                                                                                            <tr>
                                                                                                                                <td style="text-align:left;padding-left:10px;font-family:Helvetica,arial,sans-serif;color:#747474;font-size:13px;white-space:nowrap;width:80px">Variation:
                                                                                                                                </td>
                                                                                                                                <td style="text-align:left;font-family:Helvetica,arial,sans-serif;color:#747474;font-size:13px">
                                                                                                                                    <%= orderDetails[i].variantName %>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            <% } %>
                                                                                                                                <tr>
                                                                                                                                    <td style="text-align:left;padding-left:10px;font-family:Helvetica,arial,sans-serif;color:#747474;font-size:13px;white-space:nowrap;width:80px">Quantity:
                                                                                                                                    </td>
                                                                                                                                    <td style="text-align:left;font-family:Helvetica,arial,sans-serif;color:#747474;font-size:13px">
                                                                                                                                        <%= orderDetails[i].detailQty %>
                                                                                                                                    </td>
                                                                                                                                </tr>
                                                                                                                                <tr>
                                                                                                                                    <td style="text-align:left;padding-left:10px;font-family:Helvetica,arial,sans-serif;color:#747474;font-size:13px;white-space:nowrap;width:80px">Price:
                                                                                                                                    </td>
                                                                                                                                    <td style="text-align:left;font-family:Helvetica,arial,sans-serif;color:#747474;font-size:13px">
                                                                                                                                        <%= orderDetails[i].detailPrice %>
                                                                                                                                    </td>
                                                                                                                                </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td width="100%" height="15" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- 
                            =================================================================================================
                            =================================================================================================
                            =================================================================================================
                             -->
                                <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="m_6019170558616554913backgroundTable">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="m_6019170558616554913devicewidth">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" height="20" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- 
                            =================================================================================================
                            =================================================================================================
                            =================================================================================================
                             -->
                                <% } %>
                                    <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="m_6019170558616554913backgroundTable">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_6019170558616554913devicewidth">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%">
                                                                    <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_6019170558616554913devicewidth">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td height="0" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <table width="560" align="center" cellpadding="0" cellspacing="0" border="0" class="m_6019170558616554913devicewidthinner">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#889098;text-align:center;line-height:16px">
                                                                                                    <table width="" align="left">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td colspan="2" style="text-align:left;font-family:Helvetica,arial,sans-serif;color:#1f1f1f;font-size:16px;font-weight:bold;height:10px">
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <td style="text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#747474;white-space:nowrap;vertical-align:top">Subtotal:
                                                                                                                </td>
                                                                                                                <td style="text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#747474;vertical-align:top">
                                                                                                                    <%= subTotal %>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <td style="text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#747474;white-space:nowrap;vertical-align:top">Shipping Fee:
                                                                                                                </td>
                                                                                                                <td style="text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#747474;vertical-align:top">
                                                                                                                    <%= shippingFee %>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <td style="text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#747474;white-space:nowrap;vertical-align:top">Total Payment:
                                                                                                                </td>
                                                                                                                <td style="text-align:left;font-family:Helvetica,arial,sans-serif;font-size:13px;color:#747474;white-space:nowrap;vertical-align:top">
                                                                                                                    <%= totalPayment %>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td width="100%" height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="m_6019170558616554913backgroundTable">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="m_6019170558616554913devicewidth">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" height="0" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="100%" height="1" bgcolor="#e0e0e0" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="m_6019170558616554913backgroundTable">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_6019170558616554913devicewidth">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%">
                                                                    <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_6019170558616554913devicewidth">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td height="20" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <table width="560" align="center" cellpadding="0" cellspacing="0" border="0" class="m_-4821035489820968067devicewidthinner">
                                                                                        <tbody>

                                                                                            <tr>
                                                                                                <td style="font-family:Helvetica,arial,sans-serif;font-weight:bold;font-size:13px;color:#1f1f1f;text-align:left;line-height:18px">
                                                                                                    WHAT'S NEXT
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td width="100%" height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#747474;text-align:left;line-height:18px">
                                                                                                    <span style="font-style:italic"> What if my order didn't arrive? </span>
                                                                                                    <br> Do discuss with the seller to confirm delivery arrangements or request to return/refund.
                                                                                                    <br>
                                                                                                    <br>
                                                                                                    <span style="font-style:italic">What if the product(s) turn out unacceptable?</span>
                                                                                                    <br> You may put up a request to return via
                                                                                                    <a href="#" style="text-decoration:none;color:#1ab394" target="_blank"> <span class="il">ShoppyApp</span></a> too.
                                                                                                    <br>
                                                                                                    <br> Please note that you will not be able to return/refund your order once we release payment to the seller. Find out more about Return/Refund
                                                                                                    <a href="#" style="text-decoration:none;color:#1ab394" target="_blank">here</a>.
                                                                                                    <br>
                                                                                                    <br> We hope you enjoy your purchase!
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td width="100%" height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                                            </tr>

                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="m_6019170558616554913backgroundTable">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_6019170558616554913devicewidth" style="width:600px!important">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%">
                                                                    <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="m_6019170558616554913devicewidth" style="width:600px!important">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <table width="560" align="center" cellpadding="0" cellspacing="0" border="0" class="m_6019170558616554913devicewidthinner" style="width:560px!important">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td width="100%" height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#747474;text-align:left;line-height:18px">Cheers,
                                                                                                    <br>ShoppyApp Team
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td width="100%" height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div style="width:100%;height:15px;display:block" align="center">
                                        <div style="width:100%;max-width:600px;height:1px;border-top:1px solid #e0e0e0">
                                            &nbsp;
                                        </div>
                                    </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="40" style="font-size: 40px; line-height: 40px;">&nbsp;</td>
        </tr>
    </table>
    <!-- contact section -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="bg_color">
        <tr>
            <td align="center">
                <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590 bg_color">
                    <tr>
                        <td align="center">
                            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590 bg_color">
                                <tr>
                                    <td>
                                        <table border="0" width="300" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">
                                            <tr>
                                                <!-- logo -->
                                                <td align="left">
                                                    <a href="" style="display: block; border-style: none !important; border: 0 !important;">
                                                        <img width="80" border="0" style="display: block; width: 60px;" src="https://shoppy-123456789.herokuapp.com/views/images/shopping-bag.png" alt="" />
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="left" style="color: #888888; font-size: 14px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 23px;" class="text_color">
                                                    <div style="color: #333333; font-size: 14px; font-family: 'Work Sans', Calibri, sans-serif; font-weight: 600; mso-line-height-rule: exactly; line-height: 23px;">
                                                        Email us:
                                                        <br/>
                                                        <a href="mailto:info@shoppyapp.net" style="color: #888888; font-size: 14px; font-family: 'Hind Siliguri', Calibri, Sans-serif; font-weight: 400;">info@shoppyapp.net</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <table border="0" width="2" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">
                                            <tr>
                                                <td width="2" height="10" style="font-size: 10px; line-height: 10px;"></td>
                                            </tr>
                                        </table>
                                        <table border="0" width="200" align="right" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">
                                            <tr>
                                                <td class="hide" height="45" style="font-size: 45px; line-height: 45px;">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td height="15" style="font-size: 15px; line-height: 15px;">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table border="0" align="right" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td>
                                                                <a href="#" style="display: block; border-style: none !important; border: 0 !important;">
                                                                    <img width="24" border="0" style="display: block;" src="http://i.imgur.com/Qc3zTxn.png" alt="">
                                                                </a>
                                                            </td>
                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td>
                                                                <a href="#" style="display: block; border-style: none !important; border: 0 !important;">
                                                                    <img width="24" border="0" style="display: block;" src="http://i.imgur.com/RBRORq1.png" alt="">
                                                                </a>
                                                            </td>
                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td>
                                                                <a href="#" style="display: block; border-style: none !important; border: 0 !important;">
                                                                    <img width="24" border="0" style="display: block;" src="http://i.imgur.com/Wji3af6.png" alt="">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="60" style="font-size: 60px; line-height: 60px;">&nbsp;</td>
        </tr>
    </table>
    <!-- end section -->
    <!-- footer ====== -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="f4f4f4">
        <tr>
            <td align="center">
                <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">
                    <tr>
                        <td>
                            <table border="0" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">
                                <tr>
                                    <td align="left" style="color: #aaaaaa; font-size: 14px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 24px;">
                                        <div style="line-height: 24px;">
                                            <span style="color: #333333;">Shoppy App</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table border="0" align="left" width="5" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">
                                <tr>
                                    <td height="20" width="5" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                                </tr>
                            </table>
                            <table border="0" align="right" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container590">
                                <tr>
                                    <td align="center">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td align="center">
                                                    <a style="font-size: 14px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 24px;color: #5caad2; text-decoration: none;font-weight:bold;" href="#">UNSUBSCRIBE</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
        </tr>
    </table>
    <!-- end footer ====== -->
</body>

</html>