<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="middle-box text-center animated fadeInRightBig">
                <h2 class="font-bold">Welcome to ShoppyApp Seller Center</h2>
                <div class="error-desc">
                    You can create here any grid layout you want. And any variation layout you imagine:) Check out main dashboard and other site. It use many different layout.
                    <br/><a ng-click="stepOne()" class="btn btn-primary m-t">Proceed to Application</a>
                </div>
            </div>
        </div>
    </div>
</div>