<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <a ui-sref="officialshop.intro"><h2><img alt="image" src="../_assets/images/shopping-bag.svg" width="42px"> ShoppyApp <small>Official Shop Submission</small></h2></a>
    </div>
</div>

<div ui-view></div>