<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Application wizard</h5>
            </div>
            <div class="ibox-content wizard animated fadeInRightBig">
                <div class="steps clearfix">
                    <ul>
                        <li ui-sref-active="current">
                            <a ui-sref="officialshop.main.step_one" class="btn-default"><span>1</span> Store Information</a>
                        </li>
                        <li ui-sref-active="current">
                            <a ui-sref="officialshop.main.step_two" class="btn-default"><span>2</span> Store Legal Information</a>
                        </li>
                        <li ui-sref-active="current">
                            <a ui-sref="officialshop.main.step_three" class="btn-default"><span>3</span> Review - Terms and Conditions</a>
                        </li>
                    </ul>
                </div>
                <div class="wizard">
                    <div class="content">
                        <form name="signupForm" ng-submit="processForm()" class="p-lg" novalidate autocomplete="off">
                            <!-- our nested state views will be injected here -->
                            <div id="form-views" class="animated fadeInRightBig" ui-view></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>