<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demo.themefisher.com/themefisher/small-apps/homepage-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Apr 2018 03:19:38 GMT -->
<head>

  <!-- SITE TITTLE -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ShopyApp</title>
  
  <!-- PLUGINS CSS STYLE -->
  <!-- Bootstrap -->
  <link href="public/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Themefisher Font -->  
  <link href="public/plugins/themefisher-font/style.css" rel="stylesheet">
  <!-- Owl Carousel -->
  <link href="public/plugins/owl-carousel/assets/owl.carousel.min.css" rel="stylesheet" media="screen">
  <!-- Owl Carousel Theme -->
  <link href="public/plugins/owl-carousel/assets/owl.theme.green.min.css" rel="stylesheet" media="screen">
  <!-- Fancy Box -->
  <link href="public/plugins/fancybox/jquery.fancybox.min.css" rel="stylesheet">

  <!-- CUSTOM CSS -->
  <link href="public/css/style.css" rel="stylesheet">

  <!-- FAVICON -->
  <link href="public/images/favicon.png" rel="shortcut icon">

</head>

<body class="body-wrapper">


<!--============================
=            Banner            =
=============================-->
<div class="section banner-full">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 justify-content-xs-center">
                <div class="image">
                    <img class="img-fluid" src="public/images/feature/iphone-black.png" alt="Iphone-Black">
                </div>
            </div>
            <div class="col-lg-8 align-self-center">
                <div class="block">
                    <div class="logo">
                        <a href="/"><img src="public/images/logo.png" alt="logo"></a>
                    </div>
                    <h1>Introducing ShopyApp</h1>
                    <p>
                        Is a fun, free and trusted way to buy and sell instantly online. <br>
                        Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. <br>Cras ultricies ligula sed magna dictum porta.
                    </p>
                    <ul class="list-inline app-badge">
                        <li class="list-inline-item">
                            <a href="#"><img src="public/images/app/appple-store.png" alt="Apple Store"></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><img src="public/images/app/google-play.png" alt="Google Play"></a>
                        </li>
                    </ul>
                    <div class="support">
                        <img class="img-fluid" src="public/images/icons/supported-services.png" alt="supported-services">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====  End of Banner  ====-->

<!--============================
=            Footer            =
=============================-->

<footer class="footer-classic">
    <ul class="social-icons list-inline">
      <li class="list-inline-item">
        <a href="#"><i class="tf-ion-social-facebook"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="#"><i class="tf-ion-social-twitter"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="#"><i class="tf-ion-social-instagram"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="#"><i class="tf-ion-social-dribbble"></i></a>
      </li>
    </ul>
    <ul class="footer-links list-inline">
      <li class="list-inline-item">
        <a href="#">Download</a>
      </li>
      <li class="list-inline-item">
        <a href="#">Terms</a>
      </li>
      <li class="list-inline-item">
        <a href="#">Privacy</a>
      </li>
      <li class="list-inline-item">
        <a href="#">Developer</a>
      </li>
      <li class="list-inline-item">
        <a href="#">Support</a>
      </li>
      <li class="list-inline-item">
        <a href="#">Career</a>
      </li>
    </ul>
</footer>



  <!-- JAVASCRIPTS -->
  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI14J_PNWVd-m0gnUBkjmhoQyNyd7nllA" async defer></script>

  <script src="public/plugins/jquery/jquery.js"></script>
  <script src="public/plugins/popper/popper.min.js"></script>
  <script src="public/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="public/plugins/owl-carousel/owl.carousel.min.js"></script>
  <script src="public/plugins/fancybox/jquery.fancybox.min.js"></script>
  <script src="public/plugins/smoothscroll/SmoothScroll.min.js"></script>
  <script src="public/plugins/syotimer/jquery.syotimer.min.js"></script>
  
  <script src="public/js/custom.js"></script>
</body>


<!-- Mirrored from demo.themefisher.com/themefisher/small-apps/homepage-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Apr 2018 03:19:45 GMT -->
</html>