<!DOCTYPE HTML>
<html>

<head>
    <title>Reset Password Form Responsive Widget Template | Home :: w3layouts</title>
    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Reset Password Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!--google fonts-->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" type="text/css">
    <link href="../views/css/reset.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="elelment">
        <div class="element-main">
            <h3 id="loading">
                <div class="circle-loader">
                    <div class="checkmark draw"></div>
                </div>
            </h3>
            <h3 id="msg"></h3>
            <div id="toHide">
                <h1>Reset Password</h1>
                <p> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut.</p>
                <form id="resetForm">
                    <input type="text" name="password" id="password" placeholder="New Password" onfocus="this.value = '';this.type='password'; this.placeholder=''" onblur="if (this.value == '') {this.placeholder = 'New Password'; this.type='text'}">
                    <input type="text" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password" onfocus="this.value = '';this.type='password'; this.placeholder=''" onblur="if (this.value == '') {this.placeholder = 'Confirm Password'; this.type='text'}">
                    <input type="submit" value="Reset my Password">
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
<script src="../views/js/reset.js"></script>

</html>