<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eCommerce Platform</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">

    <!-- Styles -->
    <link href="../views/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="flex-center position-ref full-height">
        <div class="content">
            <!-- <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div> -->
            <div class="circle-loader">
                <div class="checkmark draw"></div>
            </div>
            <div class="title img-complete">
                <img src="https://vignette.wikia.nocookie.net/mobile-legends/images/5/58/Info_icon.png/revision/latest?cb=20161216004311">
            </div>
            <div class="title2 m-b-md">
                <span id="status">Verifying Account</span>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../views/js/verify.js"></script>

</html>