<!DOCTYPE html>
<html ng-app="starter">

<head>
    <!-- <base href="/"> -->
    <meta charset="UTF-8">
    <title>Angular App</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="icon" type="image/ico" href="../images/favicon.ico">
    <!-- LIBRARY -->
    <link rel="stylesheet" href="_build/main.min.css"/>
    <!--  -->

</head>

<body ng-controller="MainCtrl as main" class="{{$state.current.data.specialClass}}">
    <!--
        *
        *
        *
        Angular View
        *
        *
        *
        -->
    <div ui-view></div>
    <!--
        *
        *
        *
        Angular View
        *
        *
        *
        -->
    <!-- ./wrapper -->
    <script src="_build/main.min.js"></script>
    <!--
        *
        *
        *
        *
        *
        ANGULAR
        *
        *
        *
        *
        *-->
    <script src="_build/app.min.js"></script>
</body>

</html>